<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Busca animal</title>
</head>
<body>
    <a class="navbar">Busca Animal</a>

    <form>
         <input type="text" id="buscar-animal" placeholder="Exemplo: Leão">
         <button type="submit">Pesquisar</button>
    <div class="results-description"></div>
    <div class="results-description"></div>
    <div class="results-description"></div>
    <div class="results-description"></div>
    </form>

</body>
</html>
